<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}

    <body>
        {% include 'nav.html' %}
        <div class="container">
            <div class="row">
              <div class="col-12">
                  <table class="table table-image">
                    <thead>
                      <tr>
                        <th scope="col">Medication Name</th>
                        <th scope="col">Picture</th>
                        <th scope="col">Dosage</th>
                        <th scope="col">Effectiveness</th>
                        <th scope="col">Precautions Side effects</th>
                        <th scope="col">Manufacturer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">tanakan</th>
                        <td class="w-20">
                            <img src="" class="img-fluid img-thumbnail" alt="tanakan" width="100" height="100">
                        </td>
                        <td>1 tablet(s) per day</td>
                        <td>helpful for improving memory and concentration in elderly patients with mild to moderate dementia</td>
                        <td>headache, dizziness, upset stomach</td>
                        <td>manufacturer</td>
                      </tr>
                      <tr>
                        <th scope="row">Symbicort Turbuhaler 80/4.5mcg</th>
                        <td class="w-20">
                            <img src="" class="img-fluid img-thumbnail" alt="symbicort" width="100" height="100">
                        </td>
                        <td>n/a</td>
                        <td>treating asthma and COPD by opening up the airway and reducing inflammation, which can help to improve breathing and reduce sympthoms</td>
                        <td>headache, dizziness, upset stomach</td>
                        <td>manufacturer</td>
                      </tr>
                    </tbody>
                  </table>   
              </div>
            </div>
          </div>
    </body>

</html>